:root {
    --white-color: white;
    --black-color: black;
    --red-color: red;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --gold-star-color: yellow;
    --header-height: 120px;
    --header-nav-height: 35px;
    --header-sort-height: 44px;
    --header-logo-height: calc(var(--header-height) - var(--header-nav-height));
    --gray-color-hover: #fafafa;
    --column-width-1-12: 8.3%;
    --column-width-1-10: 10%;
}

* {
    box-sizing: inherit;
}

/* Common */
.mgr12 {
    margin-right: 12px;
}
/* main */
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid-row__column-2-10,
.grid-row__column-10-10,
.grid-row__column-2-12,
.grid-row__column-10-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.grid-row__column-2-10 {    
    width: calc(var(--column-width-1-10)*2);

}

.grid-row__column-2-12 {    
    width: calc(var(--column-width-1-12)*2);

}

.grid-row__column-10-12 {
    width: calc(var(--column-width-1-12)*10);
}

/* Animation */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}



/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal-overLay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
    position: relative;
    margin: auto;
    z-index: 1;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: Growth linear 0.1s;
}
/* Button */
.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    font-size: 1.4rem;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 3.4rem;
    text-align: center;
}

.btn.btn--disable {
    cursor: default;
    background-color: #f9f9f9;
}

.btn .icon--disable {
    color: #ccc;
}

.btn--size-s,
.btn--size-m,
.btn--size-l,
.btn--size-xl {
    min-height: 34px;
}

.btn.btn--size-s {
    min-width: 60px;
}

.btn.btn--size-m {
    min-width: 90px;
}

.btn.btn--size-l {
    min-width: 124px;
}

.btn.btn--size-xl {
    padding: 8px;
    min-width: 200px;
}

.btn--hover:hover {
    opacity: 0.7;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Pagination */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding-left: 0;
}

.pagination-item__link--active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagination-item__link--active:hover {
    opacity: 0.7;
}

/* Arrow  Right*/
.arrow::before {
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 16px solid var(--white-color);
    border-left: 20px solid transparent;
    position: absolute;
    top: -12px;
    right: 0px;
}

.arrow--right-20px::before {
    content: "";
    border-style: solid;
    border-width: 20px 32px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -32px;
    right: 4px;
}

/* Online Support */

@keyframes Blur {
    from {
        border: 1px solid rgba(92, 92, 92, 0.4);
    }
    to {
        /* border: 0px solid transparent; */
        border: 4px solid rgba(0, 0, 0, 0.4);

    }
}
.online-support-wrap {
    --dimension: 70px;
    position: fixed;
    right: 20px;
    bottom: 70px;
    height: var(--dimension);
    width: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: border ease 0.3s; */
    animation: Blur 2s linear 0s infinite alternate; /* alternate */
    border-radius: 50%;
    box-sizing: unset;
    z-index: 3;

}

.online-support::before {
    content: "";
    height: 220px;
    width: 50px;
    left: 0;
    bottom: calc(100% - 40px);
    position: absolute;
}

.online-support {
    height: calc(var(--dimension) - 20px);
    width: calc(var(--dimension) - 20px);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-support__icon {
    font-size: 4rem;
}

.online-support:hover 
.online-support__list {
    display: block;
}

.online-support__list {
    position: absolute;
    right: 16px;
    bottom: var(--dimension);
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.4rem; 
    display: none;
}

.online-support-item__link {
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    background-color: var(--primary-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 50%;
}

.online-support-item__link:hover
.online-support-item__description {
    display: block;
}

.online-support-item__description {
    position: absolute;
    right: calc(100% + 20px);
    top: 4px;
    background-color: var(--primary-color);
    width: 160px;
    padding: 5px 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: 300;
    display: none;
}

.online-support-item__description::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 16px solid var(--primary-color);
}