/* Common */
.fontWeight500 {
    font-weight: 500 !important;
}

/* Header */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fd6032, #f53e2d);
}

/* Header Navigation */

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar_list {
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
}

.header-nav-list_item {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
    font-weight: 300;
    color: var(--white-color);
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 22px;
}

.header-nav-list_icon {
    margin: 0 4px;
}

.header-nav-list_item:hover,
.header-nav-list-item_link:hover,
.header-nav-list_icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header-nav-list_title--no-hover {
    cursor: text;
    color: var(--white-color) ;
}

.header-nav-list_icon-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
}


.header-nav-list_item--separate::after {
    content: "";
    height: 16px;
    position: absolute;
    border-left: 1px solid #fb9086;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header-nav-list-item_link {
    text-decoration: none;
    color: var(--white-color);
}