/* Common */
.fontWeight500 {
    font-weight: 500 !important;
}

/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fd6032, #f53e2d);
}

/* Header Navigation */

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-nav-height);
}

.header-navbar__list {
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
    display: flex;
}

.header-nav-list__item {
    display: inline-block;
    margin: 0 8px;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 22px;

}


.header-nav-list__item--showQRCode:hover .header-nav__codeQR {
    display: block;
}

.header-nav-list__icon {
    margin: 0 4px;
}

.header-nav-list__item:hover,
.header-nav-list-item__link:hover,
.header-nav-list__icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header-nav-list__title--no-hover {
    cursor: text;
    color: var(--white-color);
}

.header-nav-list__icon-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
}

.header-nav-list__icon-link:nth-child(2) {
    margin-left: 4px;
}


.header-nav-list__item--separate::after {
    content: "";
    height: 16px;
    position: absolute;
    border-left: 1px solid #fb9086;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header-nav-list-item__link {
    text-decoration: none;
    color: var(--white-color);
}

/* Header Contact */

.header-nav__codeQR::before {
    content: "";
    width: 100%;
    height: 16px;
    top: -8px;
    left: 0;
    position: absolute;
}

.header-nav__codeQR {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease 0.4s;
    box-shadow: 0 1px 3px #a699a6;
    display: none;
}

.header-nav-codeQR__img {
    width: 100%;
}

.header-nav__downloadApps {
    display: flex;
    justify-content: space-between;
}

.header-nav-downloadApp__link:first-child {
    margin-left: 11px;
}

.header-nav-downloadApp__link:last-child {
    margin-right: 11px;
}

.header-nav-downloadApp__img {
    height: 16px;
}

/* Header Notification */
.header-nav-list__item--showNotification:hover .header__notify {
    display: block;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 32px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -32px;
    right: 4px;
}

.header__notify {
    --growth-from: 0;
    --growth-to: 1;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    top: calc(100% + 8px);
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 20px) top;
    animation: Growth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    top: -18px;
    right: 0;
}

.header-notify__list {
    padding: 0;
}

.header-notify-list__title {
    color: #a3a3a3;
    font-size: 1.4rem;
    margin: 0px 12px;
    font-weight: 300;
    line-height: 40px;
    cursor: default;
    user-select: none;
}

.header-notify__item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header-notify__item:hover {
    background-color: #f7f7f7;
}

.header-notify-item__link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header-notify-item-link__img {
    width: 48px;
    object-fit: contain;
    margin-right: 12px;
}

.header-notify-item-link__name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    margin-bottom: 4px;
    font-weight: 400;
}

.header-notify-item-link__description {
    font-size: 1.2rem;
    color: #958e8c;
}

.footer-notify {
    height: 32px;
    text-align: center;
    padding: 8px;
}

.footer-notify__link {
    text-decoration: none;
    color: var(--text-color);
}

.header-nav-list-item__user-img {
    width: 22px;
    height: 22px;
    border: 1px solid #e33b2a;
    border-radius: 50%;
    margin-right: 4px;

}

.header-nav-list__item-user:hover .header-nav-list-item__profile {
    display: block;
}

.header-nav-list-item__profile::before {
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 16px solid var(--white-color);
    border-left: 20px solid transparent;
    position: absolute;
    top: -16px;
    right: 4px;
}

.header-nav-list-item__profile {
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 3px #a3a3a3;
    display: none;
}

.header-nav-list-item__profile::after {
    content: "";
    position: absolute;
    top: -12%;
    right: 0;
    width: 70%;
    height: 20%;
}

.header-nav-list-item-profile__item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-nav-list-item-profile__item {
    padding: 8px 16px;
}

.header-nav-list-item-profile__item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header-nav-list-item-profile__item:hover {
    background-color: var(--gray-color-hover);
}

.header-nav-list-item-profile__item--separate {
    border-top: 1px solid #ccc;
}

.header-nav-list-item-profile-item__link {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 300;
    display: block;
}

.header-nav-list-item-profile-item__link--red {
    color: red;
}

/* Register form */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    padding: 0 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-header__title {
    font-size: 1.8rem;
    font-weight: 400;
}

.auth-form-header__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.auth-form__form {
    margin: 20px 0 24px;
}

.auth-form__fills {
    margin-bottom: 12px;
}

.auth-form-fills__input {
    width: 100%;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 300;
}

.auth-form__term-policy {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.auth-form-term-policy__link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__btn {
    margin: 80px 0 0px;
    text-align: right;
    padding-bottom: 12px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 12px 36px;
}

.auth-form-socials__facebook,
.auth-form-socials__google {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.auth-form-socials__facebook {
    color: var(--white-color);
    background-color: #2374e1;
}

.auth-form-socials__google {
    color: var(--black-color);
    background-color: white;
}

.auth-form-socials__icon {
    font-size: 1.8rem;
}

.auth-form-socials-facebook__title,
.auth-form-socials-google__title {
    display: flex;
    margin: auto;
}

/* Login form */
.auth-form__term {
    display: flex;
    justify-content: flex-end;
}

.auth-form-term__link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form-term__link-forgot {
    color: var(--primary-color);
}

.auth-form-term__separate {
    border: 1px solid #eaeaea;
    margin: -2px 16px 0;
    height: 22px;
}

.auth-form-term__link-help {
    color: #cccccc;
}

/* Header with search */
.header-with-search {
    height: var(--header-logo-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header-logo__img {
    width: 150px;
}


.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex: 1;
}

.header-search__input-and-history {
    flex: 1;
    position: relative;
    height: 100%;
}

.header-search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 16px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header-search__input:focus~.header-search__history {
    display: block;
}

/* Header Search History */
.header-search__history {
    position: absolute;
    top: 114%;
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px #a699a6;
    overflow: hidden;
    display: none;
}

.header-searh-history__heading {
    font-size: 1.4rem;
    color: #a699a6;
    font-weight: 300;
    margin: 8px 12px;
}

.header-searh-history__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-search-history__item {
    min-height: 38px;
    padding: 0 12px;
}

.header-search-history__item:hover {
    background-color: var(--gray-color-hover);
}

.header-search-history-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    line-height: 38px;
}

/*  */

.header-search__selected {
    border-left: 1px solid #e8e8e8;
    padding: 0 16px 0 16px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
}

.header-search-selected__about {
    color: var(--text-color);
}

.header-search-selected__about::after {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header-search-selected__icon {
    color: #838383;
    position: relative;
    top: 1px;
}

.header-search__selected:hover .header-search-selected__options {
    display: block;
}



.header-search-selected__options {
    position: absolute;
    background-color: var(--white-color);
    top: 206%;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 300;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header-search-selected__select:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-search-selected__select {
    padding: 8px 8px 8px 20px;
    color: var(--text-color);
}

.header-search-selected__select:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header-search-selected__select:hover {
    background-color: var(--gray-color-hover);
    cursor: pointer;
}

.header-search-selected-select__icon {
    color: #838383;
}


.header-search__button {
    margin: 0 2px;
}

.header__cart {
    width: 150px;
    display: flex;
    justify-content: center;
}

/* Header Cart */

.header-cart__icon-cover {
    position: relative;
    padding: 8px;
    cursor: pointer;
}

.header-cart__icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header-cart-icon__quantity {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px 7px;
    border-radius: 10px;
    border: 2px solid #eb4c2c;

}

.header-cart__products::before {
    content: "";
    border-right: 20px solid transparent;
    border-bottom: 16px solid var(--white-color);
    border-left: 20px solid transparent;
    position: absolute;
    top: -12px;
    right: 0px;
}

.header-cart__icon-cover:hover .header-cart__products {
    display: block;
}

.header-cart__products {
    background-color: var(--white-color);
    position: absolute;
    top: 114%;
    right: 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
    display: none;
    width: 400px;
}

.header-cart__no-products {
    text-align: center;
    animation: fadeIn ease-in 0.15s;
    cursor: default;
}

.header-cart__no-products .header-cart-no-products__img,
.header-cart__no-products .header-cart-no-products__description {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.header-cart-no-products__img {
    display: none;
}

.header-cart-no-products__description {
    display: block;
    font-size: 1.4rem;
    margin: 12px 0;
    display: none;
}

/* Header Cart View Adding Products */
.header-cart-products__heading {
    margin: 0;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
    margin: 12px;
}

.header-cart-products__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header-cart-products__item {
    display: flex;
    align-items: center;
    padding: 12px;
}

.header-cart-products__item:hover {
    background-color: #f8f8f8;
}

.header-cart-products-item__img {
    width: 48px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.header-cart-products-item__about {
    width: 100%;
    margin-left: 12px;
}

.header-cart-products-item-about__heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 2rem;

}

.header-cart-products-item-about__name {
    margin: 0;
    color: var(--text-color);
}

.header-cart-products-item-about-name__value {
    color: var(--primary-color);
}

.header-cart-products-item-about-name__multiple {
    font-size: 1rem;
    color: #a8a8a8;
    font-weight: 300;
}

.header-cart-products-item-about-name__quantity {
    font-size: 1.2rem;
    color: #959595;
    font-weight: 300;
}

.header-cart-products-item-about__body {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    font-weight: 300;
}

.header-cart-products-item-about-body__description {
    margin: 0;
    color: #a8a8a8;
    font-size: 1.2rem;
}

.header-cart-products-item-about-body__remove-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.header-cart-products-item-about-body__remove-link:hover {
    color: var(--primary-color);
}

.header-cart-products__all-view-btn {
    float: right;
    margin: 12px;
}

/* Container Nav */

.app__content {
    padding-top: 40px;
}
.contain {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    margin: 0;
    font-size: 1.8rem;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.category__list {
    padding-left: 0;
    margin: 0 12px;
    list-style: none;
}

.category-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
    display: inherit;
    padding: 8px 16px;
    transition: left linear 0.1s;
    left: 0;
    position: relative;
}

.category-item__link:hover {
    color: var(--primary-color);
    left: 4px;
}

.category__item--active 
.category-item__link--red {
    color: var(--red-color);
}

.category-item__link--red::before {
    position: absolute;
    content: "";
    /* border-color: transparent transparent transparent var(--primary-color);
    border-width: 4px 8px;
    border-style: solid; */
    border-top: 4px solid transparent;
    border-left: 8px solid var(--primary-color);
    border-bottom: 4px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
}

/* Contain Sort - Filter */
.container__sort {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    font-weight: 300; 
    font-size: 1.4rem;
}
.container-sort__heading {
    color: #555;
    margin-right: 16px;
}

.container-sort__sort-btn {
    min-width: 90px;
    margin-right: 12px;
}

.container-sort__filtered {
    position: relative;
    min-width: 200px;
    padding: 0 12px;
    background-color: var(--white-color);
    min-height: 34px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    align-items: center;
}

.select-input__icon{

    color: rgb(131, 131, 131);
}

.container-sort__filtered:hover 
.container-sort__filter-list {
    display: block;
}

.container-sort__filter-list::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: -9px;
    height: 20px;
}

.container-sort__filter-list {
    position: absolute;
    top: 118%;
    left: 0;
    right: 0;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    margin: 0;
    border-radius: 2px;
    display: none;
}

.container-sort__filter-item {
    padding: 8px 16px;
}


.container-sort-filter-item__link {
    text-decoration: none;
    color: var(--text-color);
}

.container-sort-filter-item__link:hover {
    color: var(--primary-color);
}

.container-sort__page {
    margin-left: auto;
}

.container-sort-page__page-num {
    margin-right: 22px;
}

.container-sort-page__current-num {
    color: var(--primary-color);
}

.container-sort-page__switch-btn {
    min-width: 34px;
    background-color: var(--white-color);
}

.container-sort-page-switch-btn__icon {
    color: #555;
}

/* Product Item */

.container__content {
    margin-top: 10px;
}

.product-item {
    text-decoration: none;
    background-color: var(--white-color);
    display: block;
    color: var(--text-color);
    border-radius: 2px;
    position: relative;

}

.product-item__img {
    padding-top: 100%;
    background-size: contain;
    display: block;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* background-size: cover;
    background-position: center; */
}

.product-item__info {
    margin: 10px;
}

.product-item__name {
    --height-rem: 1.8rem;
    font-size: 1.4rem;
    margin: 0 0 6px;
    font-weight: 300;
    line-height: 1.8rem;
    /* height: calc(var(--height-rem)*1);
    white-space: nowrap;
    text-overflow: ellipsis; */
    overflow: hidden;
    height: calc(var(--height-rem)*2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item__price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 6px;
}

.product-item__price-old {
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: 300;
    color: #666;
}

.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-action__like {
    color: #f63d30;
    font-size: 1.4rem;
}

i.product-item-action__liked-icon {
    display: none;
}

.product-item-action__liked 
.product-item-action__like-icon {
    display: none;
}

.product-item-action__liked
.product-item-action__liked-icon{
    display: block;
}

.product-item-action__rate {
    /* zoom: 0.7; */
    /* transform: scale(0.7); */
    font-size: 0.8rem;
    margin-left: auto;
}

.product-item-action-rate__star--gold {
    color: var(--gold-star-color);
}

.product-item-action__sold {
    margin-left: 4px;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.product-item__origin {
    display: flex;
    font-size: 1.2rem;
    margin-top: 8px;
    color: #aaa;
    font-weight: 300;
}

.product-item__origin-name {
    margin-left: auto;
}

.product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    padding-right: 4px;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item__favourite::after {
    position: absolute;
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}

.product-item-favourite-sticky__icon,
.product-item-favourite-sticky__name {
    color: var(--white-color);
    font-size: 1.2rem;
}