/* Computer and Tablet */
@media screen and (min-width: 740px) {
    .hide-on-computer-tablet {
        display: none;
    }
}
/* Tablet and Mobile */
@media screen and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --header-nav-height: 0px;
    }
    .arrow::before {
        opacity: 0;
    }
    .hide-on-tablet-mobile {
        display: none;
    }
    .header-cart__products {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .app__content {
        padding-top: 0;
    }
    .contain {
        margin-top: calc(var(--header-height) + var(--header-sort-height));
    }
    .header__sort {
        display: flex;
    }
}
/* PC */
@media screen and (min-width: 1024px) {
    /* .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col {
        padding-right: 5px;
        padding-left: 5px;
    } */
    .hide-on-pc {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__logo {
        width: unset;
    }
    .header-logo__img {
        width: 110px;
    }
    .header__cart {
        width: 80px;
    }

    #show-header-search-mobile:checked ~ * {
        display: flex;
    }

    @keyframes showHeaderSearchMobile {
        from {
            opacity: 0;
            transform: translateY(-10%);
            /* top: -50%; */
        }
        to {
            opacity: 1;
            transform: translateY(0%);
            /* top: 0; */
        }
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        /* transition: tranform linear 0.2s; */
        animation: showHeaderSearchMobile linear 0.2s;
        display: none;
    }

    .header-search__history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-height));
        width: 100%;
        
    }

    .container__content {
        margin: 8px 8px 0;
    }

    .pagination-item {
        margin: 0 4px;
    }
    .footer__menu {
        padding: 8px;
    }
}

